<html>
<head>
</head>
<body>
    <br><br><br>
    <div id="columns">
        @for (var i = 1; i <= 12; i++)
        {
            string name = "/images/Categories/Category (" + @i + ").jpg";
            <figure>
                <img src="@name">
                <figcaption>Category @i</figcaption>
            </figure>
        }
    </div>
</body>
</html>