<html>
<head>
</head>
<body>
    <br><br><br>
    <div id="columns">
        <!-- For each of the categories, display their picture and description(to be added).  -->
        @for (var i = 1; i <= 12; i++)
        {
            string name = "/images/Categories/Category (" + @i + ").jpg";
        <figure>
            <a href="https://9gag.com/superhero">
                <img src="@name">
            </a>
                <figcaption>Category @i</figcaption>
        </figure>
        }
    </div>
</body>
</html>